<% if user_signed_in? %>
    <h3> What not2do? </h3>
    <%= link_to "create not2do", new_item_path, class: "btn btn-primary" %>
    <hr>
    <% @items.each do |item| %>
        <h4> <%= link_to item.title, item %> </h4>
        <p> <%= item.description %> </p>
        <p> <%= link_to User.find(item.user_id).email + ": ", User.find(item.user_id)%> 
            <% if item.failed %>
                <%= "Failed" %>
            <% else %>
                <%= "On going" %>
            <% end %>
        </p>
        <p> <%= link_to "participants: " + Participation.where(item_id: item.id).count.to_s, participants_item_path(item) %> 
            <%= link_to "failed participants: " + Participation.where(item_id: item.id, failed: true).count.to_s, failed_participants_item_path(item) %> 
        </p>        
        <% if item.user_id == current_user.id %>
            <%= link_to "Edit", edit_item_path(item), class: "btn btn-primary" %>
            <%= link_to "Delete", item_path(item), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
            <% if !item.failed %>
                <%= link_to "Fail", fail_item_path(item), class: "btn btn-primary", method: :patch %>
            <% else %>
                <button class="btn btn-primary" disabled>Failed</button>
            <% end %>
        <% elsif current_user.participating?(item) %>
            <button class="btn btn-primary" disabled>Participated</button>
            <% participation = Participation.where(user_id: current_user.id, item_id: item.id).first %> 
            <% if !participation.failed %>
                <%= link_to "Fail", fail_participation_path(participation), class: "btn btn-primary", method: :patch %>
            <% else %>
                <button class="btn btn-primary" disabled>Failed</button>
            <% end %>
        <% else %>
            <%= form_for(current_user.active_relationships2.build) do |f| %>
                <%= hidden_field_tag :item_id, item.id %>
                <%= f.submit "Participate", class: "btn btn-primary"%>
            <% end %>
        <% end %>
        <hr>
    <% end %>
<% end %>

